/* ألوان صريحة وشغل بدائي */
body {
    background-color: silver; /* لون رمادي قديم */
    direction: rtl;
    font-family: "Times New Roman", serif;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    border: 3px double black; 
}

nav {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

nav a {
    color: red; 
    margin: 10px;
}

.container {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border: 1px solid blue;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

table th, table td {
    border: 1px solid black; 
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2; 
    font-weight: bold;
}